<div fxLayout="column" fxLayoutAlign="space-between center">
  <mat-card class="component-content">
    <mat-card-subtitle>
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <span>You vs. AI</span>
        <span
          ><b>{{ winText }}</b></span
        >
      </div>
    </mat-card-subtitle>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-between center">
        <table id="board">
          <tbody>
            <tr *ngFor="let row of rows">
              <td *ngFor="let column of columns" class="cell-container">
                <div
                  appCellState
                  [coordinates]="[row, column]"
                  class="game-piece"
                ></div>
              </td>
            </tr>
          </tbody>
        </table>

        <mat-progress-bar
          class="progress-bar"
          [mode]="busySpinnerMode"
          [value]="busySpinnerValue"
        ></mat-progress-bar>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="resetGame()">
        Reset
      </button>
    </mat-card-actions>
  </mat-card>
</div>
